@font-face {
  font-family: "tuskergrotesk-medium";
  /* src: url('../fonts/TuskerGrotesk-6500Medium.woff2') format('woff2'), */
  src: url("../../assets/fonts/TuskerGrotesk-6500Medium.woff2") format("woff2"),
    url("../../assets/fonts/TuskerGrotesk-6500Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue_worldsuperCnBd";
  src: url("../../assets/fonts/neueworld-supercondensedbold-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/neueworld-supercondensedbold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue_worldsuperCnLt";
  src: url("../../assets/fonts/neueworld-supercondensedlight-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/neueworld-supercondensedlight-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue_worldsuperCnRg";
  src: url("../../assets/fonts/neueworld-supercondensedregular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/neueworld-supercondensedregular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue_worldsuperCnultraLt";
  src: url("../../assets/fonts/neueworld-supercondensedultralight-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/neueworld-supercondensedultralight-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p22_mackinac_probold";
  src: url("../../assets/fonts/p22mackinacpro-bold-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/p22mackinacpro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p22_mackinac_probook";
  src: url("../../assets/fonts/p22mackinacpro-book-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/p22mackinacpro-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p22_mackinac_proXBdIt";
  src: url("../../assets/fonts/p22mackinacpro-exbolditalic-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/p22mackinacpro-exbolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p22_mackinac_promedium_italic";
  src: url("../../assets/fonts/p22mackinacpro-meditalic-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/p22mackinacpro-meditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p22_mackinac_promedium";
  src: url("../../assets/fonts/p22mackinacpro-medium-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/p22mackinacpro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "californyabuploaded_file";
  src: url("../../assets/fonts/californya_b-webfont.woff2") format("woff2"),
    url("../../assets/fonts/californya_b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothic_outline";
  src: url("../../assets/fonts/gothic_outline_title_d_ot_regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/gothic_outline_title_d_ot_regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #000 !important;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  font-family: "tuskergrotesk-medium";
  margin: 0px;
  color: #fff;
}

p {
  font-family: "p22_mackinac_probook";
  font-size: 1rem;
}

.page {
  background-color: #fff;
  color: #000;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
}
.nav-fixed {
  position: fixed !important;
  top: 0;
  background-color: #000;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}
.mt-120 {
  margin-top: 126px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-240 {
  margin-top: 230px;
}
.navbar-brand {
  margin-right: 0 !important;
}
.logo-img {
  max-width: 100%;
}
.nav-item {
  font-family: "tuskergrotesk-medium";
  font-size: 1.5rem;
  padding-left: 1.5rem;
  color: #fff;
}
.nav-item-fam {
  font-family: "tuskergrotesk-medium";
  font-size: 1.5rem;
  color: #fff;
}
.navbar-brands-lg {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #fff;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}
.px-60 {
  padding: 60px 0;
}
.pb-60 {
  padding-bottom: 60px;
}
.px-90 {
  padding: 90px 0;
}
.pb-90 {
  padding-bottom: 90px;
}
.px-120 {
  padding: 120px 0;
}
.pt-90 {
  padding-top: 140px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mt-8 {
  margin-top: 0;
}
.font-mackinacpro {
  font-family: "p22_mackinac_probook" !important;
  color: #000;
}
.jumbotron {
  position: relative;
  background: none;
  margin-top: 30%;
  /*padding-bottom: 240px !important;*/
}

.jumbotron:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /*background-image: url(../img/banner-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;*/
}

.title-jumbotron {
  font-family: "tuskergrotesk-medium";
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 25px;
}

.text-jumbotron {
  font-family: "Avenir-Roman";
  font-size: 24px;
}

h1 {
  font-family: "tuskergrotesk-medium";
  /* or 103px */
  color: #fff;
}

h2 {
  font-family: "tuskergrotesk-medium";
  /*font-size: 56px;*/
  font-size: 6vw;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
}

h6 {
  margin-top: 15px;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important ;
}

/* PARALLAX */
.parallax {
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-titles {
  font-family: "tuskergrotesk-medium";
  font-size: 7.3rem;
  line-height: 9rem;
  color: #fff;
}

.parallax-position-inicio {
  padding-top: 15vh;
  position: absolute;
}

.parallax-position {
  line-height: 9rem;
  position: absolute;
  margin-top: 25.5vh;
}

.sello {
  position: absolute;
  right: 5%;
  margin-top: 20vh;
}
.btn-next {
  right: 0;
  left: 0;
  bottom: 10%;
  z-index: 1000;
}

.mayoria {
  font-family: "tuskergrotesk-medium";
  font-size: 5rem;
}

.btn-idiomas {
  width: 80px;
  margin: 0rem 0 0 2.5rem;
}
.btn-idiomas > button {
  font-family: "tuskergrotesk-medium";
}
.btn-cookies {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  font-family: "tuskergrotesk-medium";
  padding: 1rem;
}
.btn-aceptar {
  color: #fff;
  background-color: #000;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  font-family: "tuskergrotesk-medium";
  padding: 1rem;
}
.slg-index {
  font-family: "californyabuploaded_file";
  font-size: 2.5rem;
}
.logo-home-bear {
  font-size: 2rem;
}
.contain-home {
  /* height: 50vh; */
  background: #808060;
}
.sello-home {
  position: absolute;
  right: 20px;
  top: -250px;
}
.b-parallax-dat {
  height: 500px;
  /* height: 50vh; */
  font-size: 2rem;
}
.b-parallax-arrow {
  padding-right: 30px;
}
.btn-store {
  border: 1px solid #fff;
  color: #fff;
  height: 60px;
  text-transform: uppercase;
  /* width: 100px; */
  font-size: 20px;
  font-family: "tuskergrotesk-medium";
}
.p-inicio {
  background-image: url("../../assets/img/bg-inicio.jpg");
  background-size: 100%;
  /* background: url('./img/bg-inicio'); */
}

.p-uvas {
  background-image: url("../../assets/img/bg-uvas.jpg");
}

.p-huarangos {
  background-image: url("../../assets/img/bg-huarango.jpg");
}

.p-familias {
  background-image: url("../../assets/img/bg-familias.jpg");
}

.p-pisco {
  background-image: url("../../assets/img/bg-pisco.jpg");
}
.p-pisco1 {
  background-image: url("../../assets/img/bg-pisco1.jpg");
}

.p-vinos {
  background-image: url("../../assets/img/bg-vinos.jpg");
}

.p-adrenalina {
  background-image: url("../../assets/img/bg-adrenalina.jpg");
}
.p-tradicion {
  background-image: url("../../assets/img/tradicion/banner1.jpg");
}

/* END PARALLAX */

/* UVAS PATRIMONIALES */
.pages-titles {
  font-family: "neue_worldsuperCnLt";
  font-size: 8.5rem;
  text-transform: uppercase;
  line-height: 0.9;
}
.pages-titles-gastronomia {
  font-family: "neue_worldsuperCnLt";
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 0.9;
}

.pages-subtitles {
  font-family: "neue_worldsuperCnLt";
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1;
}
.font-neue {
  font-family: "neue_worldsuperCnLt";
}
.font-california {
  font-family: "californyabuploaded_file";
}
.font-tusker {
  font-family: "tuskergrotesk-medium";
}
.font-size-gastro {
  font-size: 50px;
  line-height: 1;
  opacity: 0.8;
}
.font-size-famvisit {
  font-size: 65px;
  line-height: 0.9;
  opacity: 1.2;
}
.pages-slogan {
  font-family: "californyabuploaded_file";
  font-size: 3rem;
}

.color-uva {
  color: #8a73a6;
}

.color-black {
  color: #000;
}

.color-huarango {
  color: #a8c9d5;
}
.color-white {
  color: #fff;
}
.products-titles {
  background-color: #8a73a6;
  color: #fff;
  font-family: "p22_mackinac_probook";
  font-size: 12px;
  text-align: center;
}
.ArrowRightHuarango {
  top: 5rem;
  left: 5rem;
}
.imgs-vino {
  transition: transform 0.2s;
}
.imgs-vino:hover {
  box-shadow: 0px 14px 9px 7px rgba(158, 152, 152, 0.29);
  transform: scale(1.1);
  z-index: 10;
}
/* END UVAS PATRIMONIALES */

/* GASTRONOMIA */
i {
  font-size: 20px;
  color: #808060;
}

.color-gastronomia {
  color: #e27423;
}

.border-bottom-color {
  border-bottom: 1px solid #e27423;
}

.bg-gastronomia {
  background-color: #e27423;
}
.br-gastronomia {
  border: 1px solid #e27423;
  height: 80px;
  font-family: "tuskergrotesk-medium";
}
.gastronomia-days {
  font-family: "tuskergrotesk-medium";
}
.txt-bold-gastronomia {
  font-weight: bold !important;
}

.txt-grastronomia-photo {
  font-size: 50px;
  font-family: "tuskergrotesk-medium";
  text-transform: uppercase;
}
.enoturismo-logo {
  font-family: "californyabuploaded_file";
  font-size: 4.5rem;
}
.mx-6 {
  margin: 0 10rem;
}
.icon-left {
  position: absolute;
  top: 5rem;
  left: 5rem;
  border: none;
  z-index: 10;
}
/* END GASTRONOMIA */

/* LEGADO  */

.color-legado {
  color: #808060;
}
.arrowLeftLegado {
  position: absolute;
  top: 5rem;
  border: none;
}
.premios-title {
  font-family: "californyabuploaded_file";
  font-size: 7rem;
}
.color-tienda {
  color: #000;
}
.btn-w {
  width: 140px;
}
.btn-h80 {
  height: 80px;
}
.contain-legado {
  height: 40vh;
  background-color: #fed16a;
  font-size: 2rem;
  position: relative;
}

.br-grape {
  border: 1px solid #8a73a6;
  font-family: "tuskergrotesk-medium";
}
.br-store {
  border: 1px solid #000;
  font-family: "tuskergrotesk-medium";
}
.bg-legado {
  background-color: #808060;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
}
.bg-legado th {
  font-family: "tuskergrotesk-medium";
}
.table-box {
  padding-bottom: 6rem;
}

.table-vinos {
  border: 1.5px solid #808060;
  width: 100%;
}
.th-table-vinos {
  width: 50%;
  border-bottom: 1.5px solid #808060;
  border-right: 1.5px solid #808060;
  font-family: "tuskergrotesk-medium";
}
.td-table-vinos {
  border-right: 1.5px solid #808060;
  color: #808060;
  font-family: "p22_mackinac_probook";
  font-size: 1.2rem;
}

.th-table-food {
  width: 25%;
  border-bottom: 1.5px solid #808060;
  border-right: 1.5px solid #808060;
}
.th-table-food:last-child {
  border-bottom: none;
}
.th-table-food-i {
  width: 50%;
  border-bottom: 1.5px solid #808060;
  border-right: 1.5px solid #808060;
}
.td-table-food {
  border-bottom: 1.5px solid #808060;
  border-right: 1.5px solid #808060;
}
/* END LEGADO */

/* BEBIDAS */
.color-tradicion {
  color: #fed16a;
}
.ul-ingredientes {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.ul-ingredientes li {
  font-family: "p22_mackinac_probook";
}
.strong-txt {
  text-transform: uppercase;
}
.arrowLeftCocteleria {
  top: 3rem;
  left: 5rem;
  border: none;
}
.arrowWhiteCocteleria {
  bottom: 3rem;
  right: 2rem;
}
/* END BEBIDAS */

/* TRADICION */
.color-tradicion-r {
  color: #8d745c;
}
.bg-tradicion {
  background-color: #8d745c;
  color: #fff;
  font-size: 20px;
  height: 50px;
  font-family: "p22_mackinac_probook";
}
.br-cocteleria {
  color: #fed16a;
  border: 1.5px solid #fed16a;
  font-size: 1.2rem;
  font-family: "tuskergrotesk-medium";
}
.types-pisco {
  font-family: "californyabuploaded_file";
  font-size: 4rem;
}
/* END TRADICION */

/* QUIENES SOMOS Y VINOS */
.color-qs {
  color: #a45844;
}
.navbar-brands {
  background-color: #a45844;
}
.navbar-brands ul {
  padding: 3rem 0;
}
.brands-link {
  color: #fff;
  text-decoration: none;
}
.brands-link:hover {
  text-decoration: none;
  color: #ccc;
  opacity: 1;
}
.brands-link p {
  font-family: "p22_mackinac_probook";
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .nav-families {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.link-social {
  color: #000;
  font-family: "p22_mackinac_probook";
  cursor: pointer;
}
.link-social:hover {
  color: #000;
  text-decoration: underline !important;
}
.link-social span {
  color: #a45844;
  font-weight: 900;
  padding-right: 0.5rem;
}
.arrowFamiliaBtn,
.arrowFamiliaBtnFam {
  top: 9rem;
  left: 4rem;
  z-index: 100;
  cursor: pointer;
}
.subtitles-racimo {
  font-family: "californyabuploaded_file";
  font-size: 50px;
}
.pages-subheaderh6,
.pages-subheaderh5 {
  font-family: "p22_mackinac_probook";
  font-weight: bold;
}
.txt-autor {
  font-family: "californyabuploaded_file";
  font-size: 70px;
  line-height: 0.9;
}
.pages-firstitle {
  font-family: "p22_mackinac_probook";
  font-size: 20px;
  letter-spacing: 4px;
}
.bg-familias {
  background-color: #a45844;
}
.br-familias {
  border: 1px solid #a45844;
  height: 77px;
  font-family: "tuskergrotesk-medium";
  color: #a45844;
}
/* END QUIENES SOMOS */

/* FOOTER */
.br-btn-footer {
  border: 1px solid #fff;
  font-family: "tuskergrotesk-medium";
}
.logo-footer {
  max-width: 130px;
  font-family: "p22_mackinac_probook";
  text-transform: uppercase;
  font-size: 20px;
  /* text-align: justify; */
}
.txt-footer {
  font-family: "tuskergrotesk-medium";
  text-transform: uppercase;
  font-size: 16px;
}
.subtitle-footer {
  font-family: "tuskergrotesk-medium";
}
.input-footer {
  border: none;
  background-color: #000;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "p22_mackinac_probook";
}
.input-footer:focus {
  outline: none;
}
.input-footer::placeholder {
  color: #fff;
  font-family: "p22_mackinac_probook";
  font-size: 15px;
}
.btn-footer {
  position: absolute;
  bottom: 0;
  right: 10%;
}
.logo-footer {
  font-family: "tuskergrotesk-medium";
  color: #fff;
}
.footer-slang {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "gothic_outline";
  letter-spacing: 0.1rem;
  opacity: 0.3;
}
.color-footer {
  color: #ebeae0;
}
/* END FOOTER */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-fixed-top.scrolled {
  background-color: rgba(0, 0, 0, 0.8) !important;
  transition: background-color 200ms linear;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 10rem 2rem;
  }
}

@media (max-width: 414px) {
  .jumbotron {
    margin-top: 0;
    padding-top: 150px !important;
  }

  .title-jumbotron {
    font-size: 32px;
  }

  .text-jumbotron {
    width: 100% !important;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  ul.navbar-nav {
    margin-top: 25px;
  }

  .navbar-collapse {
    /* position: fixed; */
    top: 0px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 1) !important; */
  }

  .navbar-collapse.collapsing {
    left: -100%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 100ms linear;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 200ms ease;
  }

  .navbar-collapse {
    padding: 0px;
  }

  .nav-link:hover {
    background-color: #ffffff;
  }

  .nav-link {
    padding-left: 25px !important;
  }

  .nav-item img {
    padding-left: 25px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .parallax-titles {
    font-size: 3.3rem;
    line-height: 4rem;
  }
  .arrowLeftCocteleria {
    top: 4rem;
    left: 3rem;
  }
  .arrowWhiteCocteleria {
    bottom: 1rem;
    right: 1rem;
  }
  .ArrowRightHuarango {
    top: 3rem;
    left: 3rem;
  }
  .contain-home-data {
    height: 50vh;
  }
  .btn-idiomas {
    margin: 0rem 0 0 5px;
  }
  .sello-home {
    display: none !important;
  }
  .b-parallax-data,
  .parallax {
    height: 35vh;
  }
  .txt-autor {
    font-size: 50px;
  }
}
@media screen and (max-width: 992px) {
  .contain-home-data {
    height: 80vh;
  }
  .sello-home {
    display: none;
  }
  .b-parallax-data,
  .parallax {
    height: 50vh;
  }
  .arrowFamiliaBtn {
    top: 4rem;
    left: 2rem;
  }
  .arrowFamiliaBtnFam {
    top: 9rem;
    left: 2rem;
  }
  .arrowFamiliaBtn > img {
    height: 5rem;
  }
  .arrowFamiliaBtnFam > img {
    height: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .b-parallax-dat {
    height: 400px;
  }
  /* Global */
  .pages-titles {
    font-size: 3rem;
  }
  /* Gastronomia */
  .row-reverse-w {
    flex-direction: row-reverse !important;
  }
  .enoturismo-logo {
    font-size: 2.5rem;
  }
  .txt-grastronomia-photo {
    font-size: 30px;
  }
  .icon-left {
    top: 2rem;
    left: 2rem;
  }

  /* Vinos */
  .arrowLeftLegado {
    top: 4rem;
  }
  .arrowLeftLegado img {
    height: 3rem !important;
  }
  .arrowLeftCocteleria,
  .ArrowRightHuarango {
    top: 1rem;
    left: 1rem;
  }
  .contain-home-data {
    height: 70vh;
  }
  .b-parallax-data,
  .parallax {
    height: 500px;
  }
  .b-parallax-arrow {
    height: 80px !important;
    padding-right: 10px;
  }
  .arrowFamiliaBtn {
    top: 2.5rem;
    left: 1rem;
    cursor: pointer;
  }
  .arrowFamiliaBtn > button {
    z-index: 1000;
  }

  .arrowFamiliaBtn > img {
    height: 4rem;
  }
  .arrowFamiliaBtnFam {
    top: 8.5rem;
    left: 1rem;
  }
  .arrowFamiliaBtnFam > img {
    height: 3rem;
  }
  .mt-8 {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .b-parallax-dat {
    height: 620px;
  }
  .slg-index {
    text-align: center;
  }
  .btn-aceptar,
  .btn-cookies {
    padding: 3px;
  }
  .contain-home-data {
    height: 100vh;
  }
  .arrowFamiliaBtn {
    top: 3.5rem;
  }
  .arrowFamiliaBtn > img {
    height: 2.5rem;
  }
  .logo-img {
    max-width: 220px !important;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1500px !important;
  }
}
